:root {
    --width_corp_show_pannier: 80%;
    --width_show_pannier: 20%;
}

.content_corp {
    display: block;
    /* width: 80%; */
    width: 100%;
}

.anim_corp_show_pannier {
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-name: corp_show_pannier;
}

.anim_corp_hide_pannier {
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-name: corp_hide_pannier;
}

.content_panier {
    display: block;
    width: 0%;
    max-height: 90vh;
    opacity: 0;
    margin-right: 20px;
    overflow: hidden;
}

.anim_show_panier {
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-name: show_panier;
}

.anim_hide_panier {
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-name: hide_panier;
}


.content_global {
    display: block;
    width: 95%;
    margin: 0 auto;
}

.content_title {
    display: flex;
    justify-content: first baseline;
    align-items: center;
    font-size: 1.5rem;
}

.panier_component {
    position: fixed;
    height: 90vh;
    min-width: var(--width_show_pannier);
}

.content_modal {
    z-index: 1000;
}

@media screen and (max-width:500px) {
    :root {
        --width_corp_show_pannier: 0%;
        --width_show_pannier: 100%;
    }
}

@keyframes corp_show_pannier {
    0% {
        width: calc(var(--width_corp_show_pannier) + var(--width_show_pannier));
    }

    100% {
        width: var(--width_corp_show_pannier);
    }
}

@keyframes corp_hide_pannier {
    0% {
        width: var(--width_corp_show_pannier);
    }

    100% {
        width: calc(var(--width_corp_show_pannier) + var(--width_show_pannier));
    }
}

@keyframes show_panier {
    0% {
        opacity: 0;
        width: 0%;
    }

    100% {
        opacity: 1;
        width: var(--width_show_pannier);
    }
}

@keyframes hide_panier {
    0% {
        opacity: 1;
        width: var(--width_show_pannier)
    }

    100% {
        opacity: 0;
        width: 0%;
    }
}