.list_products_panier {
    display: block;
    height: 82%;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
}

.list_products_panier::-webkit-scrollbar {
    display: none;
}

.content_tow_cta_panier {
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 0px;
    padding: 10px;
}