.image_details {
    width: 60% !important;
}

.content_description {
    width: 40% !important;
}

.element {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-size: 2rem;
    font-weight: bolder;
    color: w;
}

.content_image {
    display: block;
    min-height: 100%;

}